*~
*.a
*.la
*.lo
*.log
*.o
*.trs
.deps/
.libs/
*.in
*.output
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/libltdl/
/libtool
/ltmain.sh
/m4/
/main
/missing
/test-driver
Makefile
